<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4b4eeb43-fafc-49b3-88c2-d8713c9649f2" name="CountryInfoServiceSoapBinding Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="4b4eeb43-fafc-49b3-88c2-d8713c9649f2fileName">CountryInfoServiceSoapBinding-Test-Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
